<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2017 Oursky Ltd.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.skygear.skygear_example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="io.skygear.skygear_example.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="io.skygear.skygear_example.permission.C2D_MESSAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomTokenLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PubsubActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LambdaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LambdaWithMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServerConfigurationActivity"
            android:screenOrientation="portrait" />

        <!-- Delegate Skygear SDK to manage GCM Services -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="io.skygear.skygear_example" />
            </intent-filter>
        </receiver>
        <service
            android:name="io.skygear.skygear.gcm.ListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="io.skygear.skygear.gcm.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="io.skygear.skygear.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>
